:root {
    --window-colour:                    #{{base01}};
    --secondary-colour:                 #{{base00}};
    --inverted-colour:                  #{{base05}};
    --inactive-inverted-colour:         #{{base03}};
    --uc-identity-colour-red:           #{{base08}};
    --uc-identity-colour-red-muted:     #{{base08}}FF;
    --uc-identity-colour-green:         #{{base0B}};
    --uc-identity-colour-green-muted:   #{{base0B}}99;
    --uc-identity-colour-yellow:        #{{base0A}};
    --uc-identity-colour-yellow-muted:  #{{base0A}}CC;
    --uc-identity-colour-blue:          #{{base0D}};
    --uc-identity-colour-blue-muted:    #{{base0D}}99;
    --uc-identity-colour-purple:        #{{base0E}};
    --uc-identity-colour-purple-muted:  #{{base0E}}FF;
    --uc-identity-colour-pink:          #{{base0C}};
    --uc-identity-colour-pink-muted:    #{{base0C}}99;
    --uc-identity-colour-white:         #{{base07}};
    --uc-identity-colour-orange:        #{{base09}};
    --uc-identity-colour-orange-muted:  #{{base09}}FF;
    --uc-identity-colour-turquoise: var(--uc-identity-colour-blue);
    --uc-identity-colour-turquoise-muted: var(--uc-identity-colour-blue-muted);
}
