* {
    /* edit here */ 
    primary-background:         #{{base00}};
    secondary-background:       #{{base01}};
    foreground:                 #{{base05}};
    muted-foreground:           #{{base04}};
    list-inactive-foreground:   #{{base03}};
    selected-foreground:        @foreground;
    selected-background:        #{{base02}};
    accent:                     #{{accent}};
    red:                        #{{base08}};

    button-background:          #{{base01}};
    button-foreground:          @foreground;
    button-selected-background: @foreground;
    button-selected-foreground: @primary-background;

    background-color:           transparent;
    transparent:                #{{base00}};
}
/* vim:ft=rasi
