# Start autocolor
set default-bg                  "#{{base00}}"
set default-fg                  "#{{base05}}"

set statusbar-bg                "#{{base01}}"
set statusbar-fg                "#{{base05}}"

set inputbar-bg                 "#{{base01}}"
set inputbar-fg                 "#{{base05}}"

set notification-bg             "#{{base02}}"
set notification-fg             "#{{base07}}"
set notification-error-bg       "#{{base00}}"
set notification-error-fg       "#{{base08}}"
set notification-warning-bg     "#{{base00}}"
set notification-warning-fg     "#{{base09}}"

set highlight-color             "#{{base0A}}"
set highlight-active-color      "#{{base0D}}"

set completion-bg               "#{{base01}}"
set completion-fg               "#{{base05}}"
set completion-highlight-fg     "#{{base00}}"
set completion-highlight-bg     "#{{accent}}"
set completion-group-bg	        "#{{base01}}"
set completion-group-fg		"#{{base0D}}"

set index-bg                    "#{{base00}}"
set index-fg                    "#{{base05}}"
set index-active-bg             "#{{accent}}"
set index-active-fg             "#{{base00}}"

set recolor-lightcolor          "#{{base00}}"
set recolor-darkcolor           "#{{base06}}"
# End autocolor
