# Start autocolor
[global]
    frame_color = "#{{base01}}"
    separator_color = "#{{base01}}"
    highlight="#{{accent}}"
[urgency_low]
    timeout = 3
    background = "#{{base01}}"
    foreground = "#{{base05}}"
    # Icon for notifications with low urgency, uncomment to enable
    #default_icon = /path/to/icon
[urgency_normal]
    timeout = 3
    background = "#{{base01}}"
    foreground = "#{{base05}}"
[urgency_critical]
    timeout = 5
    background = "#{{base01}}"
    foreground = "#{{base05}}"
# End autocolor
