[colors]
bg0         = #{{base00}}
bg1         = #{{base01}}
fg0         = #{{base05}}
disabled    = #{{base03}}

red         = #{{base08}}
green       = #{{base0B}}
yellow      = #{{base0A}}
blue        = #{{base0D}}
magenta     = #{{base0E}}
cyan        = #{{base0C}}
white       = #{{base07}}
alert       = #{{base09}}

accent      = #{{accent}}
