@import "colors.css";
@namespace url("http://www.w3.org/1999/xhtml");
:root {
    --vim-primary-background:  var(--window-colour);/* main background */
    --vim-foreground:          var(--inverted-colour);/* text color */
    --vim-url-color:           var(--uc-identity-colour-purple);/* url color in bar */
    --vim-source-color:        var(--uc-identity-colour-green);/* source color in bar */
    --vim-inactive-foreground: var(--inactive-inverted-colour);/* non-selected entries in bar */
    --vim-selected-background: var(--secondary-colour); /* obvious ;) */
    /* scrollbar-color: var(--inverted-colour) var(--window-colour); */
}

@-moz-document url-prefix(about:blank) {
    html > body:empty {
        background-color: var(--vim-primary-background) !important;
    }
}
@-moz-document url(about:blank) {
    html > body:empty {
        background-color: var(--vim-primary-background) !important;
    }
}

@-moz-document domain(m1tix.github.io) {
    :root {
        --color-bg: var(--window-colour) !important;
        --color-fg: var(--inverted-colour) !important;
        --color-link: var(--inactive-inverted-colour) !important;
        --color-link-visited: var(--color-link) !important;
        --color-link-hover: #CBA6F7 !important;
    }
}


